<button class="ui secondary basic button"><%= link_to 'Home', root_path %></button>
<button class="ui secondary basic button"><%= link_to 'About', about_path %></button>
<button class="ui secondary basic button"><%= link_to 'Books', books_path %></button>
